
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPadsetLabel">Create or edit a Padset</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.padset.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.padset.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mPadSetName">M Pad Set Name</label>
            <input type="text" class="form-control" name="mPadSetName" id="field_mPadSetName"
                    ng-model="vm.padset.mPadSetName"
                    required />
            <div ng-show="editForm.mPadSetName.$invalid">
                <p class="help-block"
                    ng-show="editForm.mPadSetName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mLatitude">M Latitude</label>
            <input type="number" class="form-control" name="mLatitude" id="field_mLatitude"
                    ng-model="vm.padset.mLatitude"
                    required />
            <div ng-show="editForm.mLatitude.$invalid">
                <p class="help-block"
                    ng-show="editForm.mLatitude.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.mLatitude.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mLongitude">M Longitude</label>
            <input type="number" class="form-control" name="mLongitude" id="field_mLongitude"
                    ng-model="vm.padset.mLongitude"
                    required />
            <div ng-show="editForm.mLongitude.$invalid">
                <p class="help-block"
                    ng-show="editForm.mLongitude.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.mLongitude.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_coolingCoilsNominalSensibleHeatRatio">Cooling Coils Nominal Sensible Heat Ratio</label>
            <input type="number" class="form-control" name="coolingCoilsNominalSensibleHeatRatio" id="field_coolingCoilsNominalSensibleHeatRatio"
                    ng-model="vm.padset.coolingCoilsNominalSensibleHeatRatio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_coolingCoilsNominalSensibleHeatRatioThreshold">Cooling Coils Nominal Sensible Heat Ratio Threshold</label>
            <input type="number" class="form-control" name="coolingCoilsNominalSensibleHeatRatioThreshold" id="field_coolingCoilsNominalSensibleHeatRatioThreshold"
                    ng-model="vm.padset.coolingCoilsNominalSensibleHeatRatioThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_coolingCoilsNominalTotalCapacity">Cooling Coils Nominal Total Capacity</label>
            <input type="number" class="form-control" name="coolingCoilsNominalTotalCapacity" id="field_coolingCoilsNominalTotalCapacity"
                    ng-model="vm.padset.coolingCoilsNominalTotalCapacity"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_coolingCoilsNominalTotalCapacityThreshold">Cooling Coils Nominal Total Capacity Threshold</label>
            <input type="number" class="form-control" name="coolingCoilsNominalTotalCapacityThreshold" id="field_coolingCoilsNominalTotalCapacityThreshold"
                    ng-model="vm.padset.coolingCoilsNominalTotalCapacityThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_heatingCoilsNominalTotalCapacityReheatCoilZone1">Heating Coils Nominal Total Capacity Reheat Coil Zone 1</label>
            <input type="number" class="form-control" name="heatingCoilsNominalTotalCapacityReheatCoilZone1" id="field_heatingCoilsNominalTotalCapacityReheatCoilZone1"
                    ng-model="vm.padset.heatingCoilsNominalTotalCapacityReheatCoilZone1"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_heatingCoilsNominalTotalCapacityReheatCoilZone1Threshold">Heating Coils Nominal Total Capacity Reheat Coil Zone 1 Threshold</label>
            <input type="number" class="form-control" name="heatingCoilsNominalTotalCapacityReheatCoilZone1Threshold" id="field_heatingCoilsNominalTotalCapacityReheatCoilZone1Threshold"
                    ng-model="vm.padset.heatingCoilsNominalTotalCapacityReheatCoilZone1Threshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_heatingCoilsNominalTotalCapacityReheatCoilZone2">Heating Coils Nominal Total Capacity Reheat Coil Zone 2</label>
            <input type="number" class="form-control" name="heatingCoilsNominalTotalCapacityReheatCoilZone2" id="field_heatingCoilsNominalTotalCapacityReheatCoilZone2"
                    ng-model="vm.padset.heatingCoilsNominalTotalCapacityReheatCoilZone2"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_heatingCoilsNominalTotalCapacityReheatCoilZone2Threshold">Heating Coils Nominal Total Capacity Reheat Coil Zone 2 Threshold</label>
            <input type="number" class="form-control" name="heatingCoilsNominalTotalCapacityReheatCoilZone2Threshold" id="field_heatingCoilsNominalTotalCapacityReheatCoilZone2Threshold"
                    ng-model="vm.padset.heatingCoilsNominalTotalCapacityReheatCoilZone2Threshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_heatingCoilsNominalTotalCapacityReheatCoilZone3">Heating Coils Nominal Total Capacity Reheat Coil Zone 3</label>
            <input type="number" class="form-control" name="heatingCoilsNominalTotalCapacityReheatCoilZone3" id="field_heatingCoilsNominalTotalCapacityReheatCoilZone3"
                    ng-model="vm.padset.heatingCoilsNominalTotalCapacityReheatCoilZone3"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_heatingCoilsNominalTotalCapacityReheatCoilZone3Threshold">Heating Coils Nominal Total Capacity Reheat Coil Zone 3 Threshold</label>
            <input type="number" class="form-control" name="heatingCoilsNominalTotalCapacityReheatCoilZone3Threshold" id="field_heatingCoilsNominalTotalCapacityReheatCoilZone3Threshold"
                    ng-model="vm.padset.heatingCoilsNominalTotalCapacityReheatCoilZone3Threshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fanMaxAirFlowRate">Fan Max Air Flow Rate</label>
            <input type="number" class="form-control" name="fanMaxAirFlowRate" id="field_fanMaxAirFlowRate"
                    ng-model="vm.padset.fanMaxAirFlowRate"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fanMaxAirFlowRateThreshold">Fan Max Air Flow Rate Threshold</label>
            <input type="number" class="form-control" name="fanMaxAirFlowRateThreshold" id="field_fanMaxAirFlowRateThreshold"
                    ng-model="vm.padset.fanMaxAirFlowRateThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fanRatedElectricPower">Fan Rated Electric Power</label>
            <input type="number" class="form-control" name="fanRatedElectricPower" id="field_fanRatedElectricPower"
                    ng-model="vm.padset.fanRatedElectricPower"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fanRatedElectricPowerThreshold">Fan Rated Electric Power Threshold</label>
            <input type="number" class="form-control" name="fanRatedElectricPowerThreshold" id="field_fanRatedElectricPowerThreshold"
                    ng-model="vm.padset.fanRatedElectricPowerThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fanRatedPowerPerMaxAirFlowRate">Fan Rated Power Per Max Air Flow Rate</label>
            <input type="number" class="form-control" name="fanRatedPowerPerMaxAirFlowRate" id="field_fanRatedPowerPerMaxAirFlowRate"
                    ng-model="vm.padset.fanRatedPowerPerMaxAirFlowRate"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fanRatedPowerPerMaxAirFlowRateThreshold">Fan Rated Power Per Max Air Flow Rate Threshold</label>
            <input type="number" class="form-control" name="fanRatedPowerPerMaxAirFlowRateThreshold" id="field_fanRatedPowerPerMaxAirFlowRateThreshold"
                    ng-model="vm.padset.fanRatedPowerPerMaxAirFlowRateThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fanMotorHeatInAirFraction">Fan Motor Heat In Air Fraction</label>
            <input type="number" class="form-control" name="fanMotorHeatInAirFraction" id="field_fanMotorHeatInAirFraction"
                    ng-model="vm.padset.fanMotorHeatInAirFraction"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fanMotorHeatInAirFractionThreshold">Fan Motor Heat In Air Fraction Threshold</label>
            <input type="number" class="form-control" name="fanMotorHeatInAirFractionThreshold" id="field_fanMotorHeatInAirFractionThreshold"
                    ng-model="vm.padset.fanMotorHeatInAirFractionThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fanTotalEfficiency">Fan Total Efficiency</label>
            <input type="number" class="form-control" name="fanTotalEfficiency" id="field_fanTotalEfficiency"
                    ng-model="vm.padset.fanTotalEfficiency"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fanTotalEfficiencyThreshold">Fan Total Efficiency Threshold</label>
            <input type="number" class="form-control" name="fanTotalEfficiencyThreshold" id="field_fanTotalEfficiencyThreshold"
                    ng-model="vm.padset.fanTotalEfficiencyThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsPowerPerWaterFlowRateCircPump">Pumps Power Per Water Flow Rate Circ Pump</label>
            <input type="number" class="form-control" name="pumpsPowerPerWaterFlowRateCircPump" id="field_pumpsPowerPerWaterFlowRateCircPump"
                    ng-model="vm.padset.pumpsPowerPerWaterFlowRateCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsPowerPerWaterFlowRateCircPumpThreshold">Pumps Power Per Water Flow Rate Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsPowerPerWaterFlowRateCircPumpThreshold" id="field_pumpsPowerPerWaterFlowRateCircPumpThreshold"
                    ng-model="vm.padset.pumpsPowerPerWaterFlowRateCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsPowerPerWaterFlowRateHwCircPump">Pumps Power Per Water Flow Rate Hw Circ Pump</label>
            <input type="number" class="form-control" name="pumpsPowerPerWaterFlowRateHwCircPump" id="field_pumpsPowerPerWaterFlowRateHwCircPump"
                    ng-model="vm.padset.pumpsPowerPerWaterFlowRateHwCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsPowerPerWaterFlowRateHwCircPumpThreshold">Pumps Power Per Water Flow Rate Hw Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsPowerPerWaterFlowRateHwCircPumpThreshold" id="field_pumpsPowerPerWaterFlowRateHwCircPumpThreshold"
                    ng-model="vm.padset.pumpsPowerPerWaterFlowRateHwCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsPowerPerWaterFlowRateCondCircPump">Pumps Power Per Water Flow Rate Cond Circ Pump</label>
            <input type="number" class="form-control" name="pumpsPowerPerWaterFlowRateCondCircPump" id="field_pumpsPowerPerWaterFlowRateCondCircPump"
                    ng-model="vm.padset.pumpsPowerPerWaterFlowRateCondCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsPowerPerWaterFlowRateCondCircPumpThreshold">Pumps Power Per Water Flow Rate Cond Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsPowerPerWaterFlowRateCondCircPumpThreshold" id="field_pumpsPowerPerWaterFlowRateCondCircPumpThreshold"
                    ng-model="vm.padset.pumpsPowerPerWaterFlowRateCondCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsHeadCircPump">Pumps Head Circ Pump</label>
            <input type="number" class="form-control" name="pumpsHeadCircPump" id="field_pumpsHeadCircPump"
                    ng-model="vm.padset.pumpsHeadCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsHeadCircPumpThreshold">Pumps Head Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsHeadCircPumpThreshold" id="field_pumpsHeadCircPumpThreshold"
                    ng-model="vm.padset.pumpsHeadCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsHeadHwCircPump">Pumps Head Hw Circ Pump</label>
            <input type="number" class="form-control" name="pumpsHeadHwCircPump" id="field_pumpsHeadHwCircPump"
                    ng-model="vm.padset.pumpsHeadHwCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsHeadHwCircPumpThreshold">Pumps Head Hw Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsHeadHwCircPumpThreshold" id="field_pumpsHeadHwCircPumpThreshold"
                    ng-model="vm.padset.pumpsHeadHwCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsHeadCondCircPump">Pumps Head Cond Circ Pump</label>
            <input type="number" class="form-control" name="pumpsHeadCondCircPump" id="field_pumpsHeadCondCircPump"
                    ng-model="vm.padset.pumpsHeadCondCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsHeadCondCircPumpThreshold">Pumps Head Cond Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsHeadCondCircPumpThreshold" id="field_pumpsHeadCondCircPumpThreshold"
                    ng-model="vm.padset.pumpsHeadCondCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsElectricPowerCircPump">Pumps Electric Power Circ Pump</label>
            <input type="number" class="form-control" name="pumpsElectricPowerCircPump" id="field_pumpsElectricPowerCircPump"
                    ng-model="vm.padset.pumpsElectricPowerCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsElectricPowerCircPumpThreshold">Pumps Electric Power Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsElectricPowerCircPumpThreshold" id="field_pumpsElectricPowerCircPumpThreshold"
                    ng-model="vm.padset.pumpsElectricPowerCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsElectricPowerHwCircPump">Pumps Electric Power Hw Circ Pump</label>
            <input type="number" class="form-control" name="pumpsElectricPowerHwCircPump" id="field_pumpsElectricPowerHwCircPump"
                    ng-model="vm.padset.pumpsElectricPowerHwCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsElectricPowerHwCircPumpThreshold">Pumps Electric Power Hw Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsElectricPowerHwCircPumpThreshold" id="field_pumpsElectricPowerHwCircPumpThreshold"
                    ng-model="vm.padset.pumpsElectricPowerHwCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsElectricPowerCondCircPump">Pumps Electric Power Cond Circ Pump</label>
            <input type="number" class="form-control" name="pumpsElectricPowerCondCircPump" id="field_pumpsElectricPowerCondCircPump"
                    ng-model="vm.padset.pumpsElectricPowerCondCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsElectricPowerCondCircPumpThreshold">Pumps Electric Power Cond Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsElectricPowerCondCircPumpThreshold" id="field_pumpsElectricPowerCondCircPumpThreshold"
                    ng-model="vm.padset.pumpsElectricPowerCondCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsMotorEfficiencyCircPump">Pumps Motor Efficiency Circ Pump</label>
            <input type="number" class="form-control" name="pumpsMotorEfficiencyCircPump" id="field_pumpsMotorEfficiencyCircPump"
                    ng-model="vm.padset.pumpsMotorEfficiencyCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsMotorEfficiencyCircPumpThreshold">Pumps Motor Efficiency Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsMotorEfficiencyCircPumpThreshold" id="field_pumpsMotorEfficiencyCircPumpThreshold"
                    ng-model="vm.padset.pumpsMotorEfficiencyCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsMotorEfficiencyHwCircPump">Pumps Motor Efficiency Hw Circ Pump</label>
            <input type="number" class="form-control" name="pumpsMotorEfficiencyHwCircPump" id="field_pumpsMotorEfficiencyHwCircPump"
                    ng-model="vm.padset.pumpsMotorEfficiencyHwCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsMotorEfficiencyHwCircPumpThreshold">Pumps Motor Efficiency Hw Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsMotorEfficiencyHwCircPumpThreshold" id="field_pumpsMotorEfficiencyHwCircPumpThreshold"
                    ng-model="vm.padset.pumpsMotorEfficiencyHwCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsMotorEfficiencyCondCircPump">Pumps Motor Efficiency Cond Circ Pump</label>
            <input type="number" class="form-control" name="pumpsMotorEfficiencyCondCircPump" id="field_pumpsMotorEfficiencyCondCircPump"
                    ng-model="vm.padset.pumpsMotorEfficiencyCondCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsMotorEfficiencyCondCircPumpThreshold">Pumps Motor Efficiency Cond Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsMotorEfficiencyCondCircPumpThreshold" id="field_pumpsMotorEfficiencyCondCircPumpThreshold"
                    ng-model="vm.padset.pumpsMotorEfficiencyCondCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsWaterFlowCircPump">Pumps Water Flow Circ Pump</label>
            <input type="number" class="form-control" name="pumpsWaterFlowCircPump" id="field_pumpsWaterFlowCircPump"
                    ng-model="vm.padset.pumpsWaterFlowCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsWaterFlowCircPumpThreshold">Pumps Water Flow Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsWaterFlowCircPumpThreshold" id="field_pumpsWaterFlowCircPumpThreshold"
                    ng-model="vm.padset.pumpsWaterFlowCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsWaterFlowHwCircPump">Pumps Water Flow Hw Circ Pump</label>
            <input type="number" class="form-control" name="pumpsWaterFlowHwCircPump" id="field_pumpsWaterFlowHwCircPump"
                    ng-model="vm.padset.pumpsWaterFlowHwCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsWaterFlowHwCircPumpThreshold">Pumps Water Flow Hw Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsWaterFlowHwCircPumpThreshold" id="field_pumpsWaterFlowHwCircPumpThreshold"
                    ng-model="vm.padset.pumpsWaterFlowHwCircPumpThreshold"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsWaterFlowCondCircPump">Pumps Water Flow Cond Circ Pump</label>
            <input type="number" class="form-control" name="pumpsWaterFlowCondCircPump" id="field_pumpsWaterFlowCondCircPump"
                    ng-model="vm.padset.pumpsWaterFlowCondCircPump"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pumpsWaterFlowCondCircPumpThreshold">Pumps Water Flow Cond Circ Pump Threshold</label>
            <input type="number" class="form-control" name="pumpsWaterFlowCondCircPumpThreshold" id="field_pumpsWaterFlowCondCircPumpThreshold"
                    ng-model="vm.padset.pumpsWaterFlowCondCircPumpThreshold"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
