<div>
    <h2>Padsets</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="padset.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Padset
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>M Pad Set Name</span></th>
                    <th><span>M Latitude</span></th>
                    <th><span>M Longitude</span></th>
                    <th><span>Cooling Coils Nominal Sensible Heat Ratio</span></th>
                    <th><span>Cooling Coils Nominal Total Capacity</span></th>
                    <th><span>Heating Coils Nominal Total Capacity Reheat Coil Zone 1</span></th>
                    <th><span>Heating Coils Nominal Total Capacity Reheat Coil Zone 2</span></th>
                    <th><span>Heating Coils Nominal Total Capacity Reheat Coil Zone 3</span></th>
                    <th><span>Fan Max Air Flow Rate</span></th>
                    <th><span>Fan Rated Electric Power</span></th>
                    <th><span>Fan Rated Power Per Max Air Flow Rate</span></th>
                    <th><span>Fan Motor Heat In Air Fraction</span></th>
                    <th><span>Fan Total Efficiency</span></th>
                    <th><span>Pumps Power Per Water Flow Rate Circ Pump</span></th>
                    <th><span>Pumps Power Per Water Flow Rate Hw Circ Pump</span></th>
                    <th><span>Pumps Power Per Water Flow Rate Cond Circ Pump</span></th>
                    <th><span>Pumps Head Circ Pump</span></th>
                    <th><span>Pumps Head Hw Circ Pump</span></th>
                    <th><span>Pumps Head Cond Circ Pump</span></th>
                    <th><span>Pumps Electric Power Circ Pump</span></th>
                    <th><span>Pumps Electric Power Hw Circ Pump</span></th>
                    <th><span>Pumps Electric Power Cond Circ Pump</span></th>
                    <th><span>Pumps Motor Efficiency Circ Pump</span></th>
                    <th><span>Pumps Motor Efficiency Hw Circ Pump</span></th>
                    <th><span>Pumps Motor Efficiency Cond Circ Pump</span></th>
                    <th><span>Pumps Water Flow Circ Pump</span></th>
                    <th><span>Pumps Water Flow Hw Circ Pump</span></th>
                    <th><span>Pumps Water Flow Cond Circ Pump</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="padset in vm.padsets track by padset.id">
                    <td><a ui-sref="padset-detail({id:padset.id})">{{padset.id}}</a></td>
                    <td>{{padset.mPadSetName}}</td>
                    <td>{{padset.mLatitude}}</td>
                    <td>{{padset.mLongitude}}</td>
                    <td>{{padset.coolingCoilsNominalSensibleHeatRatio}}</td>
                    <td>{{padset.coolingCoilsNominalTotalCapacity}}</td>
                    <td>{{padset.heatingCoilsNominalTotalCapacityReheatCoilZone1}}</td>
                    <td>{{padset.heatingCoilsNominalTotalCapacityReheatCoilZone2}}</td>
                    <td>{{padset.heatingCoilsNominalTotalCapacityReheatCoilZone3}}</td>
                    <td>{{padset.fanMaxAirFlowRate}}</td>
                    <td>{{padset.fanRatedElectricPower}}</td>
                    <td>{{padset.fanRatedPowerPerMaxAirFlowRate}}</td>
                    <td>{{padset.fanMotorHeatInAirFraction}}</td>
                    <td>{{padset.fanTotalEfficiency}}</td>
                    <td>{{padset.pumpsPowerPerWaterFlowRateCircPump}}</td>
                    <td>{{padset.pumpsPowerPerWaterFlowRateHwCircPump}}</td>
                    <td>{{padset.pumpsPowerPerWaterFlowRateCondCircPump}}</td>
                    <td>{{padset.pumpsHeadCircPump}}</td>
                    <td>{{padset.pumpsHeadHwCircPump}}</td>
                    <td>{{padset.pumpsHeadCondCircPump}}</td>
                    <td>{{padset.pumpsElectricPowerCircPump}}</td>
                    <td>{{padset.pumpsElectricPowerHwCircPump}}</td>
                    <td>{{padset.pumpsElectricPowerCondCircPump}}</td>
                    <td>{{padset.pumpsMotorEfficiencyCircPump}}</td>
                    <td>{{padset.pumpsMotorEfficiencyHwCircPump}}</td>
                    <td>{{padset.pumpsMotorEfficiencyCondCircPump}}</td>
                    <td>{{padset.pumpsWaterFlowCircPump}}</td>
                    <td>{{padset.pumpsWaterFlowHwCircPump}}</td>
                    <td>{{padset.pumpsWaterFlowCondCircPump}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="padset-detail({id:padset.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="padset.edit({id:padset.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="padset.delete({id:padset.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
